<div class="container mt-5 bg-dark text-light">
    <button class="btn btn-primary" (click)="revenirPageListeProjets()">Retour à la liste</button>
    <div *ngIf="selectedProject" class="card bg-dark text-light">
      <div class="card-header">
        <h2 class="card-title">{{ selectedProject.name }}</h2>
        <button class="btn btn-outline-primary" (click)="likeProject()">
          <span class="bi bi-heart"></span> Like
        </button>  
        
        
      </div>
      <div class="card-body">
        <p class="card-text"><strong>Créateur : </strong> {{ selectedProject.creator }}</p>
        <p class="card-text"><strong>Date de création : </strong> {{ selectedProject.creationDate }}</p>
        <p class="card-text"><strong>Nombre de contributeurs : </strong> {{ selectedProject.contributors.length }}</p>
        <p class="card-text"><strong>Contributeurs :</strong></p>
        <ul>
            <li *ngFor="let contributor of selectedProject.contributors">{{ contributor }}</li>
        </ul>
        <p class="card-text"><strong>Dernière mise à jour : </strong> {{ selectedProject.lastUpdate }}</p>
        <p class="card-text"><strong>Langages : </strong></p>
        <div class="d-flex flex-wrap">
          <div *ngFor="let language of selectedProject.languages" class="badge bg-primary me-1 mb-1">{{ language }}</div>
        </div>
        <p class="card-text"><strong>Description : </strong> {{ selectedProject.description }}</p>
        <p class="card-text"><strong>GitHub URL : </strong> <a href="{{ selectedProject.githubUrl }}" target="_blank" class="text-light">Cliquer ici</a></p>
        <p class="card-text"><strong>Nombre de like : </strong> {{selectedProject.etoiles}}</p>
        <p class="card-text"><strong>Nombre de places : </strong> {{ selectedProject.nombrePlaces }}</p>
        <p class="card-text"><strong>Difficulté : </strong> {{ selectedProject.difficulte }}</p>
      </div>
      <button *ngIf="!userParticipeProjet && selectedProject.contributors.length < selectedProject.nombrePlaces" class="btn btn-primary" (click)="participerProjet()">Participer au projet </button>
      <button *ngIf="!userParticipeProjet && selectedProject.contributors.length >= selectedProject.nombrePlaces" class="btn btn-primary" disabled>Projet plein</button>
      <button *ngIf="userParticipeProjet && !estCreateurProjet()" class="btn btn-danger" (click)="nePlusParticiperProjet()">Ne plus participer au projet</button>
      <button *ngIf="estCreateurProjet()" class="btn btn-primary" (click)="modifierProjet()">Modifier le projet</button>
      <button *ngIf="estCreateurProjet()" class="btn btn-primary" (click)="supprimerProjet()">Supprimer le projet</button>
      
    </div>
  </div>
