<div class="container" xmlns:href="http://www.w3.org/1999/xhtml">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <div class="card">
        <div data-bs-theme="dark">
          <!-- Utilisation d'un lien <a> à la place d'un bouton <button> -->
          <a class="btn-close" aria-label="Close" href="/liste-projet"></a>
        </div>

        <div class="card-header text-white text-center">Créer un projet</div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()">
            <div class="mb-1">
              <label for="NomProjet" class="form-label">Nom de votre projet</label>
              <textarea class="form-control" id="NomProjet" name="nom" rows="1" placeholder="Projet WEB..." [(ngModel)]="name"></textarea>
            </div>

            <div>
              <label for="NomProjet" class="form-label">Combien de personnes?</label>
              <select class="form-select" aria-label="Default select example" name="nbplace" id="NbPlaces" [(ngModel)]="nombrePlaces">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>

            <div class="mb-1">
              <label for="Desc" class="form-label">Langages utilisé</label>
              <textarea class="form-control" id="Desc" name="description" rows="3" placeholder="HTML, CSS, PYTHON" [(ngModel)]="languages"></textarea>
            </div>

            <label class="form-label">Matiere dominante :</label>
            <div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="java" id="java" value="../images/imgJava.jpg" [(ngModel)]="image">
                <label class="form-check-label" for="java">JAVA</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="html" id="html" value="../images/imgHTML.jpg" [(ngModel)]="image">
                <label class="form-check-label" for="html">HTML</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="css" id="css" value="../images/imgCSS.jpg" [(ngModel)]="image">
                <label class="form-check-label" for="css">CSS</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="ang" id="ang" value="../images/imgAngular.png" [(ngModel)]="image">
                <label class="form-check-label" for="ang">ANGULAR</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="python" id="python" value="../images/imgPython.png" [(ngModel)]="image">
                <label class="form-check-label" for="python">PYTHON</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="js" id="js" value="../images/imgJS.jpg" [(ngModel)]="image">
                <label class="form-check-label" for="js">JAVASCRIPT</label>
              </div>
            </div>


            <div class="mb-1">
              <label for="urllink" class="form-label">lien vers GitHub </label>
              <div class="input-group">
                <input type="text" class="form-control"  name="urllink" id="urllink" aria-describedby="basic-addon3 basic-addon4" [(ngModel)]="githubUrl">
              </div>
            </div>

            <div>
              <label for="NomProjet" class="form-label">Niveau requis pour le projet :</label>
              <select class="form-select" aria-label="Default select example" name="diff" id="difficulter" [(ngModel)]="difficulte" >
                <option value="L1">L1</option>
                <option value="L2">L2</option>
                <option value="L3">L3</option>
                <option value="M1">M1</option>
                <option value="M2">M2</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary float-end" href="/liste-projet">Créer le projet</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>









