body {
    font-family: "Poppins", sans-serif;
  }
  header {
    text-align: center;
  }
  .form-container {
    border-radius: 10px;
    background-color: #fff;
    padding: 30px;
    max-width: 450px;
    color: black;
  }
  h2{
    text-align: center;
  }
  .mb-3 {
    display: flex;
    align-items: center;
  }

  .form-control{
    color: grey;
  }

  .form-group{
    color: grey;
  }