<form (ngSubmit)="onSubmit()">
<div class="mb-3">
  <label for="NomProjet" class="form-label">Nom de votre projet</label>
  <textarea class="form-control" id="NomProjet" name="nom" rows="1" placeholder="Nom du projet :" [(ngModel)]="name"></textarea>
</div>
<div class="mb-3">
  <label for="Desc" class="form-label">Décrire votre projet</label>
  <textarea class="form-control" id="Desc" name="description" rows="3" placeholder="Description du projet :" [(ngModel)]="description"></textarea>
</div>
  <div>
    <label for="NomProjet" class="form-label">Combien de personnes?</label>
    <select class="form-select" aria-label="Default select example" name="nbplace" id="NbPlaces" [(ngModel)]="nombrePlaces">
      <option [disabled]="true" selected>Nombre de places</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>


  </div>


  <input type="range" class="form-control-range" name="difficulte" id="formControlRange" [(ngModel)]="difficulte">
  <button type="submit" class="btn btn-primary float-end">Créer le projet</button>
</form>



matieres: string;
nombrePlaces: number;
name: string;
description: string;
difficulte: number
