body {
    font-family: "Poppins", sans-serif;
  }

  .form-container {
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    max-width: 450px;
    color: black;
    height: 105%;
  }

  .form-check-input{
    color: blue;
  }