<div class="card">
    <div class="card-header">
      Informations de l'utilisateur
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Nom:</strong> {{ utilisateur.nom }}</li>
        <li class="list-group-item"><strong>Prénom:</strong> {{ utilisateur.prenom }}</li>
        <li class="list-group-item"><strong>Nom d'utilisateur:</strong> {{ utilisateur.username }}</li>
        <li class="list-group-item"><strong>Email:</strong> {{ utilisateur.email }}</li>
      </ul>
    </div>
  </div>
  