<app-nav-bar></app-nav-bar>

<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white text-center">
      Informations de l'utilisateur
    </div>
    <div class="card-body">
      <form (ngSubmit)="updateUserInfo()">
        <div class="mb-3">
          <label for="nom" class="form-label">Nom :</label>
          <input type="text" class="form-control" id="nom" [(ngModel)]="utilisateur.nom" name="nom">
        </div>
        <div class="mb-3">
          <label for="prenom" class="form-label">Prénom :</label>
          <input type="text" class="form-control" id="prenom" [(ngModel)]="utilisateur.prenom" name="prenom">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email :</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="utilisateur.email" name="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Nouveau mot de passe :</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="nouveauMotDePasse" name="password">
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Mettre à jour</button>
        </div>
      </form>
    </div>
  </div>
</div>
