<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">

  <div class="container-fluid">
    <a class="navbar-brand" href="/liste-projet">Recruit'Miage</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto"> <!-- Utilisation de la classe me-auto pour déplacer l'élément vers la droite -->
        <a class="nav-link active" aria-current="page" href="/mon-profil">Profil</a>
        <a class="nav-link active" aria-current="page" href="/creation-projet">Créer un Projet</a>
        <a class="nav-link active" aria-current="page" href="/mes-projets">Mes Projets</a>

      </div>
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Quitter</a>
      </div>
    </div>
  </div>
</nav>
