<form (ngSubmit)="modifierProjet()" class="form-container">
    <div class="mb-3">
        <label for="NomProjet" class="form-label">Nom du projet</label>
        <textarea class="form-control" id="NomProjet" name="nom" rows="1" placeholder="Nom du projet :" [(ngModel)]="nomProjet"></textarea>
    </div>
    <div class="mb-3">
        <label for="Desc" class="form-label">Description du projet</label>
        <textarea class="form-control" id="Desc" name="description" rows="3" placeholder="Description du projet :" [(ngModel)]="descriptionProjet"></textarea>
    </div>
    <div class="mb-3">
        <label for="Languages" class="form-label">Langages du projet</label>
        <input type="text" class="form-control" id="Languages" name="languages" placeholder="Langages du projet :" [(ngModel)]="languages">
    </div>
    <div class="mb-3">
        <label for="GitHubUrl" class="form-label">URL GitHub du projet</label>
        <input type="text" class="form-control" id="GitHubUrl" name="githubUrl" placeholder="URL GitHub du projet :" [(ngModel)]="githubUrl">
    </div>

    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
</form>
